@import "tailwindcss/preflight";
@tailwind utilities;
@import "tailwindcss";

:root {
  font-family: "Instagram Sans UI", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @theme {
    --breakpoint-xs: 20rem; /* 320px */
    --breakpoint-sm: 30rem; /* 480px */
    --breakpoint-md: 48rem; /* 768px */
    --breakpoint-lg: 80rem; /* 1280px */
    --breakpoint-xl: 96rem; /* 1536px */
    --breakpoint-2xl: 100rem; /* 1600px */
    --breakpoint-3xl: 120rem; /* 1920px */
  }

  --fds-black: #000000;
  --fds-black-alpha-05: rgba(0, 0, 0, 0.05);
  --fds-black-alpha-10: rgba(0, 0, 0, 0.1);
  --fds-black-alpha-15: rgba(0, 0, 0, 0.15);
  --fds-black-alpha-20: rgba(0, 0, 0, 0.2);
  --fds-black-alpha-30: rgba(0, 0, 0, 0.3);
  --fds-black-alpha-40: rgba(0, 0, 0, 0.4);
  --fds-black-alpha-50: rgba(0, 0, 0, 0.5);
  --fds-black-alpha-60: rgba(0, 0, 0, 0.6);
  --fds-black-alpha-80: rgba(0, 0, 0, 0.8);
  --fds-blue-05: #ecf3ff;
  --fds-blue-30: #aac9ff;
  --fds-blue-40: #77a7ff;
  --fds-blue-60: #1877f2;
  --fds-blue-70: #2851a3;
  --fds-blue-80: #1d3c78;
  --fds-button-text: #444950;
  --fds-comment-background: #f2f3f5;
  --fds-dark-mode-gray-35: #cccccc;
  --fds-dark-mode-gray-50: #828282;
  --fds-dark-mode-gray-70: #4a4a4a;
  --fds-dark-mode-gray-80: #373737;
  --fds-dark-mode-gray-90: #282828;
  --fds-dark-mode-gray-100: #1c1c1c;
  --fds-gray-00: #f5f6f7;
  --fds-gray-05: #f2f3f5;
  --fds-gray-10: #ebedf0;
  --fds-gray-20: #dadde1;
  --fds-gray-25: #ccd0d5;
  --fds-gray-30: #bec3c9;
  --fds-gray-45: #8d949e;
  --fds-gray-70: #606770;
  --fds-gray-80: #444950;
  --fds-gray-90: #303338;
  --fds-gray-100: #1c1e21;
  --fds-green-55: #00a400;
  --fds-green-65: #51ce70;
  --fds-highlight: #3578e5;
  --fds-highlight-cell-background: #ecf3ff;
  --fds-primary-icon: #1c1e21;
  --fds-primary-text: #1c1e21;
  --fds-red-55: #fa383e;
  --fds-soft: cubic-bezier(0.08, 0.52, 0.52, 1);
  --fds-spectrum-aluminum-tint-70: #e4f0f6;
  --fds-spectrum-blue-gray-tint-70: #cfd1d5;
  --fds-spectrum-cherry: #f35369;
  --fds-spectrum-cherry-tint-70: #fbccd2;
  --fds-spectrum-grape-tint-70: #ddd5f0;
  --fds-spectrum-grape-tint-90: #f4f1fa;
  --fds-spectrum-lemon-dark-1: #f5c33b;
  --fds-spectrum-lemon-tint-70: #fef2d1;
  --fds-spectrum-lime: #a3ce71;
  --fds-spectrum-lime-tint-70: #e4f0d5;
  --fds-spectrum-orange-tint-70: #fcdec5;
  --fds-spectrum-orange-tint-90: #fef4ec;
  --fds-spectrum-seafoam-tint-70: #caeef9;
  --fds-spectrum-slate-dark-2: #89a1ac;
  --fds-spectrum-slate-tint-70: #eaeff2;
  --fds-spectrum-teal: #6bcebb;
  --fds-spectrum-teal-dark-1: #4dbba6;
  --fds-spectrum-teal-dark-2: #31a38d;
  --fds-spectrum-teal-tint-70: #d2f0ea;
  --fds-spectrum-teal-tint-90: #f0faf8;
  --fds-spectrum-tomato: #fb724b;
  --fds-spectrum-tomato-tint-30: #f38e7b;
  --fds-spectrum-tomato-tint-90: #fdefed;
  --fds-strong: cubic-bezier(0.12, 0.8, 0.32, 1);
  --fds-unified-blue-35: #1455b0;
  --fds-unified-gray-20: #323436;
  --fds-white: #ffffff;
  --fds-white-alpha-05: rgba(255, 255, 255, 0.05);
  --fds-white-alpha-10: rgba(255, 255, 255, 0.1);
  --fds-white-alpha-20: rgba(255, 255, 255, 0.2);
  --fds-white-alpha-30: rgba(255, 255, 255, 0.3);
  --fds-white-alpha-40: rgba(255, 255, 255, 0.4);
  --fds-white-alpha-50: rgba(255, 255, 255, 0.5);
  --fds-white-alpha-60: rgba(255, 255, 255, 0.6);
  --fds-white-alpha-80: rgba(255, 255, 255, 0.8);
  --fds-yellow-20: #ffba00;
  --accent: #0095f6;
  --always-white: #ffffff;
  --always-black: black;
  --always-dark-gradient: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  --always-dark-overlay: rgba(0, 0, 0, 0.4);
  --always-light-overlay: rgba(255, 255, 255, 0.4);
  --always-gray-40: #65676b;
  --always-gray-75: #bcc0c4;
  --always-gray-95: #f0f2f5;
  --attachment-footer-background: #f0f2f5;
  --background-deemphasized: #f0f2f5;
  --badge-background-color-blue: var(--accent);
  --badge-background-color-dark-gray: var(--secondary-icon);
  --badge-background-color-gray: var(--disabled-icon);
  --badge-background-color-green: var(--positive);
  --badge-background-color-light-blue: var(--highlight-bg);
  --badge-background-color-red: var(--notification-badge);
  --badge-background-color-yellow: var(--base-lemon);
  --base-blue: #1877f2;
  --base-cherry: #f3425f;
  --base-grape: #9360f7;
  --base-lemon: #f7b928;
  --base-lime: #45bd62;
  --base-pink: #ff66bf;
  --base-seafoam: #54c7ec;
  --base-teal: #2abba7;
  --base-tomato: #fb724b;
  --text-badge-info-background: hsl(214, 89%, 52%);
  --text-badge-success-background: #31a24c;
  --text-badge-attention-background: hsl(40, 89%, 52%);
  --text-badge-critical-background: #e41e3f;
  --blue-link: #00376b;
  --border-focused: #65676b;
  --card-background: #ffffff;
  --card-background-flat: #f7f8fa;
  --comment-background: #f0f2f5;
  --comment-footer-background: #f6f9fa;
  --dataviz-primary-1: rgb(0, 174, 143);
  --disabled-button-background: rgba(0, 149, 246, 0.3);
  --disabled-button-text: #ffffff;
  --disabled-icon: #bcc0c4;
  --disabled-text: #bcc0c4;
  --divider: #dbdbdb;
  --event-date: #f3425f;
  --fb-wordmark: #0866ff;
  --fb-logo: #0866ff;
  --filter-accent: invert(39%) sepia(57%) saturate(200%) saturate(200%)
    saturate(200%) saturate(200%) saturate(200%) saturate(147.75%)
    hue-rotate(202deg) brightness(97%) contrast(96%);
  --filter-always-white: invert(100%);
  --filter-disabled-icon: invert(80%) sepia(6%) saturate(200%) saturate(120%)
    hue-rotate(173deg) brightness(98%) contrast(89%);
  --filter-placeholder-icon: invert(59%) sepia(11%) saturate(200%)
    saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
  --filter-primary-accent: invert(39%) sepia(57%) saturate(200%) saturate(200%)
    saturate(200%) saturate(200%) saturate(200%) saturate(147.75%)
    hue-rotate(202deg) brightness(97%) contrast(96%);
  --filter-primary-icon: invert(8%) sepia(10%) saturate(200%) saturate(200%)
    saturate(166%) hue-rotate(177deg) brightness(104%) contrast(91%);
  --filter-secondary-button-icon-on-media: invert(100%);
  --filter-secondary-icon: invert(39%) sepia(21%) saturate(200%)
    saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
